:root {
	--font-family: "Space Mono", monospace;
}

header,
main,
nav p {
	text-align: center;
}

nav a {
	padding: 0.5rem 0;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

nav p {
	grid-column: auto/span 4;
}

#logo {
	max-width: 40ch;
	margin: auto;
}
