:root {
	--font-family: "Space Grotesk", sans-serif;
}

header {
	text-align: center;
}

nav a {
	padding: 0.5rem 0;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
	nav {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

#logo {
	max-width: 40ch;
	margin: auto;
}

/* #logo > g {
	fill: #05161c;
}

@media (prefers-color-scheme: dark) {
	#logo > g {
		fill: #fff;
	}
} */
